
:root {
--StrongCyan: hsl(171, 66%, 44%);
--LightBlue: hsl(233, 100%, 69%);
--DarkGrayishBlue: hsl(210, 10%, 33%);
--GrayishBlue: hsl(201, 11%, 66%);
font-size: 18px;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body , html {
	width: 100%;
	height: 100%;
	font-family: 'Bai Jamjuree', sans-serif;	
} 
body {
	background-image: url(images/bg-header-desktop.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top ;
	overflow-x: hidden;	
}
/**************** FONT_SIZE
                 ***************************/
  h1 {
  	opacity: 0.7; 
  } 
 h2 {
  	font-weight: 400;
  	opacity: 0.7; 
  }
  h3  {
  	opacity: 0.7; 
  	font-size: 1.1rem;
  }
  p {
  	font-weight: 400;
  	opacity: 0.6; 
  	font-size: 0.8rem;
  }               

/**************** HEADER
                 ***************************/

.header{
	text-align: center;
	margin: 4rem auto 1rem auto;
	width: 50%;
}
#logo {
	margin: 3rem auto
}
.header-link , .bottom-link{
    margin: 2rem  auto 7rem auto;
}
.link-ios , .link-mac {
	cursor: pointer;
	padding: 0.6rem 1.1rem;
	color: white;
	font-size: 0.7rem;
	border-radius: 25px;
	margin: 0 0.5rem;
	transition-duration: 5000;
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
}
.link-ios:hover , .link-mac:hover {
	filter: brightness(120%);
}
.link-ios {
	background-color: var(--StrongCyan)
}
.link-mac {
	background-color: var(--LightBlue)
}
.header h1 , .header h2, .header p {
	margin: 1rem 0;
}
/**************** FIRST BLOC
                 ***************************/
.first-bloc{
	display: flex;
    margin-top: 4.5rem;
}
.first-bloc-text {
	width: 50%;
	margin-top: 2rem;
}
.first-bloc-image {
	width: 50%;
}
#computer-image {  
   max-width: 40rem;
   margin-left: -6rem;
}
.first-bloc h3 , .first-bloc p {
   margin-top: 1rem;
   margin-left: 4rem;
	width: 50%;
}
/**************** SECOND BLOC
                 ***************************/
.second-bloc {	
	margin: 5rem auto  ;
	width: 50%;
	margin: auto;
	text-align: center;	
}
#device-picture {
	max-width: 45rem;
	margin:2rem 0 2rem -6rem;
}
.image-scr {	
	width: 70%;
	margin: 1rem auto ;
	line-height: 1.6;
}
.second-bloc-list {
	display: flex;	
	justify-content: space-between;
	margin: 3rem auto;
	width: 80%;
}
.inside-bloc {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 25%;
}
.icon-bloc2 {
	width: 2rem;
	height: 1.6rem;
	margin: 0 auto;		
}
.bloc-text {
	line-height:1.7;
}
.bloc-title {
	margin-top: 1rem;
}
/**************** BLOC LOGO
                 ***************************/
.bloc-logo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	margin: auto;
}

/**************** BOTTOM_BLOC
                 ***************************/
.bottom-bloc {
	text-align: center;
	margin: 6rem auto 1rem auto;
	width: 50%;
}
.bottom-bloc h3 ,  .bottom-bloc p {
	margin: 1rem 0;
}
/**************** FOOTER
                 ***************************/
.footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 3rem;
	background-color:	#F5F5F5;
}
.footer-nav-bar{
    display: flex;
}
.nav-in {
	display: flex;
	flex-direction: column;
	margin: 0 2rem;
	text-decoration: none;
}
.nav-in a {	
	text-decoration: none;
	font-size: 0.9rem;
	margin: 0.4rem 0;
	color: black;
	opacity: 0.7;
	transition: 4000;
}
.nav-in a:hover {
	color: var(--StrongCyan);
}
.social-icon img:hover {
	 filter: brightness(150%) sepia(1) saturate(10000%) hue-rotate(171deg);
}
#logo-footer {
	width: 4rem;
}
.social-icon img {
	margin: 0.4rem;
	cursor: pointer;
}
/**************** MEDIA MOBILE/TABLETTE
                 ***************************/

@media only screen and (max-width: 750px) {

h1 {
	font-size: 1.7rem;
}
 .header{
	width: 70%;
}
.header-link , .bottom-link{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 4rem;
}
.link-ios , .link-mac {
	margin: 0.5rem;
}
/**************** FIRST BLOC
                 ***************************/

/**************** SECOND BLOC
                 ***************************/
.second-bloc {	
	width: 80%;
}
.second-bloc h2 {	
	width: 80%;
	margin: auto;
}
#device-picture {
	max-width: 20rem;
	margin: 2rem auto 2rem -0.8rem;
}
.image-scr {	
	width: 80%;
}
.second-bloc-list {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.inside-bloc {
	width: 80%;
	margin: 2rem auto;
}
.icon-bloc2 {
	margin: 0 auto;		
}
.bloc-title {
	margin: 1rem auto;
}
/**************** BLOC LOGO
                 ***************************/
.bloc-logo {
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
}
.brand-logo {
	margin: 1.5rem auto;
}
/**************** BOTTOM_BLOC
                 ***************************/
.bottom-bloc {
	width: 70%;
}
.bottom-bloc h3 {
	width: 70%;
	margin: auto;
}
/**************** FOOTER
                 ***************************/
.footer {     
    flex-direction: column;
	justify-content: center;    
}
.footer-nav-bar{
    text-align: center;
    flex-direction: column;
    margin: 1rem auto;
}
.nav-in {
	margin: 0 auto;
}
.nav-in a {
	margin: 0.5rem 0;
}

#logo-footer {
	width: 2.9rem;
}

.social-icon img {
	margin: auto 0.9rem;
}


}


@media only screen and (max-width: 1100px) {

.first-bloc{
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 3rem auto;
}
.first-bloc-text {
	width: 100%;
	margin-top: 2rem;
	text-align: center;
}
.first-bloc-image {
	width: 100%;
	text-align: center;
}
#computer-image {  
   max-width: 20rem;
   margin :auto;
}
.first-bloc h3 , .first-bloc p {
   margin : 1rem auto;
   width: 70%;
}
}





